:root {
    --primary-color-text: #3C322D;
    --secondary-color-text: #2E2520;
    --picture-color-text: #FFFFFF;
    --button-color-text: #FFFFFF;
    --button-accent-text: #F3848C;


    --primary-color-icon: #3C322D;
    --secondary-color-icon: #2E2520;
    --accent-color-icon: #F3848C;

    --primary-bg-button: #F3848C;
    --accent-bg-button: #FFFFFF;

    --body-bg: linear-gradient(180.11deg, #E5E2E3 10.73%, #FDFEFE 38.02%, #E5E2E3 71.11%, #FDFEFE 99.91%);
}