@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background: linear-gradient(180.11deg, #E5E2E3 10.73%, #FDFEFE 38.02%, #E5E2E3 71.11%, #FDFEFE 99.91%);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

body {
  background: linear-gradient(180.11deg, #E5E2E3 10.73%, #FDFEFE 38.02%, #E5E2E3 71.11%, #FDFEFE 99.91%);
  font-family: montserrat, sans-serif;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

:root {
  --primary-color-text: #3C322D;
  --secondary-color-text: #2E2520;
  --picture-color-text: #FFFFFF;
  --button-color-text: #FFFFFF;
  --button-accent-text: #F3848C;
  --primary-color-icon: #3C322D;
  --secondary-color-icon: #2E2520;
  --accent-color-icon: #F3848C;
  --primary-bg-button: #F3848C;
  --accent-bg-button: #FFFFFF;
  --body-bg: linear-gradient(180.11deg, #E5E2E3 10.73%, #FDFEFE 38.02%, #E5E2E3 71.11%, #FDFEFE 99.91%);
  /* animation */
  --hover-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-wrap {
  padding-top: 16px;
  padding-bottom: 16px;
  background-image: url("../images/hero/bg-hero-320@1x.png");
  background-repeat: no-repeat;
  background-size: 105%;
  background-attachment: fixed;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-wrap {
    background-image: url("../images/hero/bg-hero-320@2x.png");
    background-repeat: no-repeat;
    background-size: 105%;
    background-attachment: fixed;
  }
}
@media screen and (min-width: 768px) {
  .header-wrap {
    background-image: url("../images/hero/bg-hero-768@1x.png");
    background-size: 100%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-wrap {
    background-image: url("../images/hero/bg-hero-768@2x.png");
    background-size: 100%;
  }
}
@media screen and (min-width: 769px) {
  .header-wrap {
    background-image: url("../images/hero/bg-hero-1280@1x.png");
    background-size: 100%;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .header-wrap {
    background-image: url("../images/hero/bg-hero-1280@2x.png");
    background-size: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header-wrap {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrap {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.header-container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.menu-wrap {
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .menu-wrap {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 55px;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation {
    display: block;
  }
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 4px;
}

.navigation__link {
  display: block;
  padding: 4px 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-color-text);
  transition: color var(--hover-animation), box-shadow var(--hover-animation);
}
.navigation__link:hover, .navigation__link:focus {
  color: #fff;
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #e5e2e3;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  transform: translateX(0);
}

.mobile-wrap {
  width: 100%;
  padding: 16px 20px;
}
@media screen and (min-width: 768px) {
  .mobile-wrap {
    padding: 24px 32px;
  }
}

.logo-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 46px;
}
@media screen and (min-width: 768px) {
  .logo-container {
    align-items: center;
    margin-bottom: 70px;
  }
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 30px;
  height: 16px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1200px) {
  .menu-btn {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.mobile-menu__link {
  display: inline-block;
  padding: 10px 28px;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: var(--primary-color-text);
  transition: color var(--hover-animation), background var(--hover-animation), box-shadow var(--hover-animation);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #fff;
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
}
@media screen and (min-width: 768px) {
  .mobile-menu__link {
    font-size: 40px;
    line-height: 1.22;
  }
}

.hero {
  background-image: url("../images/hero/bg-hero-320@1x.png");
  background-repeat: no-repeat;
  background-size: 105%;
  background-attachment: fixed;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/bg-hero-320@2x.png");
    background-repeat: no-repeat;
    background-size: 105%;
    background-attachment: fixed;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/hero/bg-hero-768@1x.png");
    background-size: 100%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/bg-hero-768@2x.png");
    background-size: 100%;
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: url("../images/hero/bg-hero-1280@1x.png");
    background-size: 100%;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/bg-hero-1280@2x.png");
    background-size: 100%;
  }
}

.hero.section {
  padding-top: 4px;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .hero.section {
    padding-top: 3px;
    padding-bottom: 43px;
  }
}
@media screen and (min-width: 1200px) {
  .hero.section {
    padding-top: 29px;
    padding-bottom: 90px;
  }
}

.hero-container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero-wrapper {
    align-items: flex-start;
    max-width: 319px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-wrapper {
    max-width: 758px;
  }
}

.hero__title {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: -0.03em;
  color: var(--primary-color-text);
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 30px;
    line-height: 1.23;
    text-align: left;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 60px;
    line-height: 1.08;
    margin-bottom: 20px;
  }
}

.hero__subtitle {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--primary-color-text);
  margin: 0;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    text-align: left;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__subtitle {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
}

.hero__btn {
  display: block;
  width: 145px;
  height: 40px;
  margin-bottom: 24px;
  padding: 0;
  background: var(--button-accent-text);
  cursor: pointer;
  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
  border: none;
  border-radius: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--button-color-text);
  transition: color var(--hover-animation), background-color var(--hover-animation), box-shadow var(--hover-animation);
}
.hero__btn:hover, .hero__btn:focus {
  color: var(--primary-bg-button);
  background-color: var(--accent-bg-button);
  border: 1px solid var(--primary-bg-button);
}
.hero__btn:active {
  color: var(--button-color-text);
  background-color: var(--primary-bg-button);
  border: 1px solid var(--accent-bg-button);
  box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}
@media screen and (min-width: 768px) {
  .hero__btn {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    margin-bottom: 28px;
  }
}

.socials {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 16px;
}

.socials__link {
  color: var(--primary-color-icon);
  transition: color var(--hover-animation);
}
.socials__link:hover, .socials__link:focus {
  color: var(--accent-color-icon);
}

.social__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .about-us {
    margin-top: 20px;
  }
  .about-us__img {
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    height: 285px;
    background: #F3848C;
    border-radius: 24px;
  }
  .about-us__title {
    margin-bottom: 8px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    color: var(--primary-color-text);
    text-align: center;
  }
  .about-us__text, .about-us__text-hidden {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
  .about-us #invisible-text-about-us {
    display: none;
  }
  .about-us #btn-about-us {
    background-color: transparent;
    border: transparent;
    outline: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-us {
    display: flex;
    margin-top: 36px;
  }
  .about-us__picture {
    flex: 1;
  }
  .about-us__img {
    border-radius: 24px;
  }
  .about-us__container {
    flex: 1;
    margin-left: 32px;
  }
  .about-us__title {
    margin-bottom: 28px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    color: var(--primary-color-text);
  }
  .about-us__text, .about-us__text-hidden {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
  .about-us #invisible-text-about-us {
    display: none;
  }
  .about-us #btn-about-us {
    background-color: transparent;
    border: transparent;
    outline: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
}
@media screen and (min-width: 1280px) {
  .about-us {
    display: flex;
    margin-top: 64px;
  }
  .about-us__img {
    border-radius: 24px;
  }
  .about-us__picture {
    flex: 1;
  }
  .about-us__container {
    flex: 1;
    margin-left: 32px;
  }
  .about-us__title {
    margin-bottom: 28px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    color: var(--primary-color-text);
  }
  .about-us__text:not(:last-child) {
    margin-bottom: 16px;
  }
  .about-us__text, .about-us__text-hidden {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
  .about-us #btn-about-us {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .program {
    margin-top: 28px;
  }
  .program__title {
    margin-bottom: 8px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.22;
    color: var(--primary-color-text);
    text-align: center;
  }
  .program__text, .program__text-hidden {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
  .program__text-hidden {
    margin-bottom: 16px;
  }
  .program__items {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .program__item:not(:last-child) {
    margin-bottom: 8px;
  }
  .program__item {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
  .program__item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-size: contain;
    background-image: url(../images/icons/Іко.svg);
    background-repeat: no-repeat;
  }
  .program #invisible-text-program {
    display: none;
  }
  .program #btn-program {
    background-color: transparent;
    border: transparent;
    outline: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
  .wrap-pic {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  .wrap-pic__column:last-child {
    margin-top: 20px;
    margin-left: 20px;
  }
  .wrap-pic__item:first-child {
    margin-bottom: 28px;
  }
  .wrap-pic__inner {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(0.12deg, #000000 -11.45%, rgba(156, 156, 156, 0) 69.04%);
  }
  .wrap-pic__img {
    border-radius: 50%;
    border: 1px solid var(--primary-bg-button);
  }
  .wrap-pic__position {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(0.12deg, #000000 -11.45%, rgba(156, 156, 156, 0) 69.04%);
  }
  .wrap-pic__subtitle {
    margin-top: 62px;
    margin-bottom: 8px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    color: var(--picture-color-text);
    text-align: center;
  }
  .wrap-pic__text {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: var(--picture-color-text);
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .program {
    display: flex;
    margin-top: 80px;
  }
  .program__title {
    margin-bottom: 28px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    color: var(--primary-color-text);
  }
  .program__text, .program__text-hidden {
    width: 326px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
  .program__text-hidden {
    margin-bottom: 16px;
  }
  .program__items {
    margin-top: 12px;
    margin-bottom: 28px;
  }
  .program__item:not(:last-child) {
    margin-bottom: 12px;
  }
  .program__item {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
  .program__item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-size: contain;
    background-image: url(../images/icons/Іко.svg);
    background-repeat: no-repeat;
  }
  .program #invisible-text-program {
    display: none;
  }
  .program #btn-program {
    background-color: transparent;
    border: transparent;
    outline: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-color-text);
  }
  .wrap-pic {
    display: flex;
    margin-left: 40px;
  }
  .wrap-pic__column:last-child {
    margin-top: 40px;
    margin-left: 32px;
  }
  .wrap-pic__item:first-child {
    margin-bottom: 40px;
  }
  .wrap-pic__inner {
    position: relative;
  }
  .wrap-pic__img {
    border-radius: 50%;
    border: 1px solid var(--primary-bg-button);
  }
  .wrap-pic__position {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(0.12deg, #000000 -11.45%, rgba(156, 156, 156, 0) 69.04%);
  }
  .wrap-pic__subtitle {
    margin-top: 79px;
    margin-bottom: 8px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.22;
    color: var(--picture-color-text);
    text-align: center;
  }
  .wrap-pic__text {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    color: var(--picture-color-text);
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .program {
    display: flex;
    margin-top: 100px;
  }
  .program__column {
    margin-top: 60px;
    width: 441px;
    margin-right: 92px;
  }
  .program__title {
    margin-bottom: 24px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    color: var(--primary-color-text);
  }
  .program__text, .program__text-hidden {
    width: 375px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: var(--primary-color-text);
  }
  .program__items {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .program__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .program__item {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: var(--primary-color-text);
  }
  .program__item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 18px;
    background-size: contain;
    background-image: url(../images/icons/Іко.svg);
    background-repeat: no-repeat;
  }
  .program #btn-program {
    display: none;
  }
  .wrap-pic {
    display: flex;
  }
  .wrap-pic__column:last-child {
    margin-top: 60px;
    margin-left: 139px;
  }
  .wrap-pic__item:first-child {
    margin-bottom: 40px;
  }
  .wrap-pic__inner {
    position: relative;
  }
  .wrap-pic__img {
    border-radius: 50%;
    border: 1px solid #F3848C;
  }
  .wrap-pic__position {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(0deg, #000000 -12%, rgba(156, 156, 156, 0) 56.6%);
  }
  .wrap-pic__subtitle {
    margin-top: 191px;
    margin-bottom: 16px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    color: var(--picture-color-text);
    text-align: center;
  }
  .wrap-pic__text {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--picture-color-text);
    text-align: center;
  }
}
.speaker {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 33px;
}
@media screen and (min-width: 768px) {
  .speaker {
    margin-bottom: 77px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 768px) {
  .speaker {
    margin-bottom: 101px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.speaker__title {
  margin-bottom: 12px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .speaker__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1280px) {
  .speaker__title {
    margin-bottom: 5px;
  }
}

.speaker__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .speaker__list {
    gap: 32px;
  }
}

.speaker__item {
  flex-basis: calc((100% - 20px) / 2);
}
@media screen and (min-width: 768px) {
  .speaker__item {
    flex-basis: calc((100% - 96px) / 4);
  }
}

.speaker__picture {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .speaker__picture {
    margin-bottom: 20px;
  }
}

.speaker__name {
  margin-bottom: 12px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .speaker__name {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .speaker__name {
    margin-bottom: 20px;
  }
}

.speaker__text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .speaker__text {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .speaker__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.price {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 19px;
}
@media screen and (min-width: 768px) {
  .price {
    margin-bottom: 80px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 768px) {
  .price {
    margin-bottom: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.price__name {
  margin-bottom: 27px;
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  align-items: center;
}
.price__name--mini {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.22;
}
@media screen and (min-width: 768px) {
  .price__name {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .price__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .price__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.price__form {
  margin-bottom: 24px;
  padding: 20px 18px 20px 8px;
  display: flex;
  flex-direction: column;
  background: #FAFBFB;
  border: 1px solid transparent;
  box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
  border-radius: 25px;
  background-color: #FAFBFB;
}
@media screen and (min-width: 768px) {
  .price__form {
    margin-bottom: 0;
    background-image: url(../images/price/price-768@1x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
@media screen and (min-width: 1280px) {
  .price__form {
    padding: 27px 18px 40px 8px;
    margin-bottom: 0;
    background-image: url(../images/price/price-1280@1x.jpg);
  }
}
.price__form:nth-child(2n) {
  border: 1px solid #F3848C;
  background-image: url(../images/price/price-320@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .price__form:nth-child(2n) {
    background-image: url(../images/price/price-768@1x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .price__form:nth-child(2n) {
    margin-bottom: 0;
    background-image: url(../images/price/price-1280@1x.jpg);
  }
}
.price__form:nth-child(3n) {
  background-image: url(../images/price/price-320@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .price__form:nth-child(3n) {
    background-image: url(../images/price/price-768@1x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .price__form:nth-child(3n) {
    margin-bottom: 0;
    background-image: url(../images/price/price-1280@1x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .price__form {
    flex-basis: calc((100% - 64px) / 3);
  }
}

.price__item {
  margin-bottom: 12px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .price__item {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .price__item {
    font-size: 18px;
    line-height: 1.25;
  }
}

.price__item:last-child {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .price__item:last-child {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .price__item:last-child {
    margin-bottom: 40px;
  }
}

.price__item:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--picture-color-text);
  border: 1px solid var(--accent-color-icon);
  border-radius: 50%;
  background-image: url(../images/icons/Іко.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}
@media screen and (min-width: 1280px) {
  .price__item:before {
    margin-right: 24px;
  }
}

.price__button {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 145px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--button-color-text);
  text-align: center;
  background: #F3848C;
  border: none;
  border-radius: 25px;
}

.price__button:hover,
.price__button:focus {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .registration {
    margin-top: 40px;
  }
  .registration__title {
    margin-bottom: 27px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.21;
    color: var(--secondary-color-text);
    text-align: center;
  }
  .registration__container {
    max-width: 440px;
    padding: 40px 8px 32px 8px;
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
    background: linear-gradient(rgba(61, 44, 44, 0.6), rgba(61, 44, 44, 0.6)), url(../images/registration/registration-bg-320@1x.jpg) no-repeat center/cover, #C4C4C4;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .registration__container {
    background: linear-gradient(rgba(61, 44, 44, 0.6), rgba(61, 44, 44, 0.6)), url(../images/registration/registration-bg-320@2x.jpg) no-repeat center/cover, #C4C4C4;
  }
}
@media screen and (max-width: 767px) {
  .registration__info {
    margin-bottom: 20px;
    width: 114px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--button-color-text);
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .registration__decor {
    width: 100%;
    height: 1px;
    background-color: var(--accent-bg-button);
  }
}
@media screen and (max-width: 767px) {
  .form {
    padding-top: 20px;
  }
  .form__title {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--picture-color-text);
    text-align: center;
  }
  .form__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
  .form__label {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
  .form__input {
    background: transparent;
    outline: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid var(--picture-color-text);
    padding: 0;
    color: var(--button-color-text);
  }
  .form__input:not(:-moz-placeholder-shown):required:invalid {
    border-color: red;
  }
  .form__input:not(:-ms-input-placeholder):required:invalid {
    border-color: red;
  }
  .form__input:not(:placeholder-shown):required:invalid {
    border-color: red;
  }
  .form__input[type=text], .form__input[type=tel] {
    margin-bottom: 20px;
  }
  .form__input::-moz-placeholder {
    color: var(--button-color-text);
  }
  .form__input:-ms-input-placeholder {
    color: var(--button-color-text);
  }
  .form__input::placeholder {
    color: var(--button-color-text);
  }
  .form__button {
    display: block;
    width: 145px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0;
    outline: transparent;
    border: transparent;
    border-radius: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: var(--picture-color-text);
    background: var(--primary-bg-button);
    filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  }
  .form__button:active {
    box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .registration {
    margin-top: 80px;
  }
  .registration__title {
    margin-bottom: 27px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.21;
    color: var(--secondary-color-text);
    text-align: center;
  }
  .registration__container {
    display: flex;
    width: 704px;
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
    background: url(../images/registration/registration-bg-768@1x.jpg) no-repeat center/cover, #C4C4C4;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .registration__container {
    background: url(../images/registration/registration-bg-768@2x.jpg) no-repeat center/cover, #C4C4C4;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .registration__info {
    width: 90px;
    margin-top: 85px;
    margin-left: 62px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #000000;
    text-align: end;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .registration__decor {
    margin: 60px 24px 32px 32px;
    width: 1px;
    height: 154px;
    background: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form {
    display: flex;
  }
  .form__con-tab-flex {
    margin-right: 74px;
  }
  .form__title {
    width: 210px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
  }
  .form__container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .form__label {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
  .form__input {
    background: transparent;
    outline: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #000000;
    padding: 0;
    color: var(--button-color-text);
  }
  .form__input:not(:-moz-placeholder-shown):required:invalid {
    border-color: red;
  }
  .form__input:not(:-ms-input-placeholder):required:invalid {
    border-color: red;
  }
  .form__input:not(:placeholder-shown):required:invalid {
    border-color: red;
  }
  .form__input[type=text], .form__input[type=tel] {
    margin-bottom: 20px;
  }
  .form__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .form__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .form__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .form__button {
    display: block;
    margin-top: 103px;
    width: 145px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0;
    outline: transparent;
    border: transparent;
    border-radius: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: var(--picture-color-text);
    background: var(--primary-bg-button);
    filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  }
  .form__button:active {
    box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  }
}
@media screen and (min-width: 1280px) {
  .registration {
    margin-top: 100px;
  }
  .registration__title {
    margin-bottom: 27px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.21;
    color: var(--secondary-color-text);
    text-align: center;
  }
  .registration__container {
    display: flex;
    width: 1034px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
    background: url(../images/registration/registration-bg-1280@1x.jpg) no-repeat center/cover, #C4C4C4;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .registration__container {
    background: url(../images/registration/registration-bg-1280@2x.jpg) no-repeat center/cover, #C4C4C4;
  }
}
@media screen and (min-width: 1280px) {
  .registration__info {
    width: 127px;
    margin-top: 85px;
    margin-left: 213px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-color-text);
    text-align: end;
  }
}
@media screen and (min-width: 1280px) {
  .registration__decor {
    margin: 40px 28px;
    width: 1px;
    height: 154px;
    background: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (min-width: 1280px) {
  .form {
    display: flex;
  }
  .form__con-tab-flex {
    margin-right: 12px;
  }
  .form__title {
    width: 250px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-color-text);
  }
  .form__container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .form__label {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
  .form__input {
    width: 212px;
    background: transparent;
    outline: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid #000000;
    padding: 0;
    color: var(--primary-color-text);
  }
  .form__input:not(:-moz-placeholder-shown):required:invalid {
    border-color: red;
  }
  .form__input:not(:-ms-input-placeholder):required:invalid {
    border-color: red;
  }
  .form__input:not(:placeholder-shown):required:invalid {
    border-color: red;
  }
  .form__input[type=text], .form__input[type=tel] {
    margin-bottom: 14px;
  }
  .form__input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .form__input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .form__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
  .form__button {
    display: block;
    margin-top: 103px;
    width: 145px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0;
    outline: transparent;
    border: transparent;
    border-radius: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: var(--picture-color-text);
    background: var(--primary-bg-button);
    filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  }
  .form__button:focus, .form__button:hover {
    border: 1px solid var(--primary-bg-button);
    color: var(--accent-color-icon);
    background: var(--accent-bg-button);
  }
  .form__button:active {
    box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  }
}
.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .contact__container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 126px;
  }
}

.contact__title {
  margin-bottom: 27px;
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-color-text);
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
  }
}

.contact__text {
  margin-bottom: 16px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color-text);
}
@media screen and (min-width: 768px) {
  .contact__text {
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__text {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.contact__input {
  margin-bottom: 22px;
  width: 280px;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.25;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background-color: inherit;
}
.contact__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.contact__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.contact__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .contact__input {
    margin-bottom: 18px;
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__input {
    width: 394px;
  }
}

.contact__input--retreat {
  margin-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .contact__input--retreat {
    margin-bottom: 34px;
  }
}

.contact__button {
  width: 145px;
  height: 40px;
  border: none;
  border-radius: 25px;
  background-color: var(--button-accent-text);
  color: var(--button-color-text);
  padding-top: 8px;
  padding-bottom: 9px;
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}
.contact__button:hover, .contact__button:focus {
  background-color: var(--accent-bg-button);
  color: var(--button-accent-text);
  border: 1px solid var(--button-accent-text);
}
.contact__button:active {
  background-color: var(--primary-bg-button);
  color: var(--button-color-text);
  border: 1px solid var(--accent-bg-button);
}

.footer__container {
  position: relative;
  padding-top: 28px;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 767px) {
  .footer__container {
    height: 154px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    max-width: 1280px;
    padding-left: 33px;
    padding-right: 16px;
  }
}

.social {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .social {
    margin-top: 31px;
  }
}
@media screen and (min-width: 1280px) {
  .social {
    margin-top: 37px;
  }
}

.social__item--first {
  margin-right: 16px;
}

.social__item--second {
  margin-right: 20px;
}

.social__icon {
  fill: var(--secondary-color-icon);
}
.social__icon:hover, .social__icon:focus {
  fill: var(--accent-color-icon);
}

.footer__list {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__list {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__list {
    margin-top: 100px;
    margin-bottom: 101px;
  }
}

.footer__link {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color-icon);
}

.footer__icon {
  margin-right: 4px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .footer__icon {
    display: none;
  }
}

.footer__picture {
  position: absolute;
  top: 97px;
  display: block;
  background-image: url("../images/footer/footer-donuts-320.png");
  width: 60px;
  height: 40px;
  margin-left: 137px;
  margin-right: 123px;
  margin-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .footer__picture {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */