<section class="contact" id="contact">
  <div class="contact__container">
    <h2 class="contact__title">Contact</h2>
    <p class="contact__text">We will answer any question!</p>
    <input
      class="contact__input"
      type="text"
      name="email"
      placeholder="Email"
    />
    <input
      class="contact__input contact__input--retreat"
      type="text"
      name="question"
      placeholder="Type your question"
    />
    <button class="contact__button" type="button">Send</button>
  </div>
</section>
