<div class="footer__container">
    <ul class="social">
        <li class="social__item social__item--first">
            <a class="social__link" href="#" aria-label="twitter">
                <svg class="social__icon" width="16" height="16">
                    <use href="./images/icons/icons.svg#icon-Twitter"></use>
                </svg>
            </a>
        </li>
        <li class="social__item social__item--second">
            <a class="social__link" href="#" aria-label="instagram">
                <svg class="social__icon" width="16" height="16">
                    <use href="./images/icons/icons.svg#icon-Instagram"></use>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a class="social__link" href="#" aria-label="facebook">
                <svg class="social__icon" width="7.54" height="16">
                    <use href="./images/icons/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
    <address>
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link" href="tel:9102228855">
                    <svg class="footer__icon" width="13" height="13">
                        <use href="./images/icons/icons.svg#icon-phone"></use>
                    </svg>(910)222-8855</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="https://goo.gl/maps/rD4A2eTyXeugQLkq6" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="footer__icon" width="11" height="14">
                        <use href="./images/icons/icons.svg#icon-location"></use>
                    </svg>New York</a>
            </li>
        </ul>
    </address>
    <span class="footer__picture"></span>
</div>