<section class="hero section">
  <div class="hero-container">
    <div class="hero-wrapper">
      <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
      <p class="hero__subtitle">Hosted by Eva Green</p>
      <button
        type="button"
        class="hero__btn"
        onclick="window.location.href = '#registration';"
      >
        Register
      </button>
      <ul class="socials">
        <li class="socials__item">
          <a href="https://twitter.com/" class="socials__link" target="_blank">
            <svg class="socials__icon" width="16" height="16">
              <use href="./images/icons/icons.svg#icon-Twitter"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://www.instagram.com/"
            class="socials__link"
            target="_blank"
          >
            <svg class="socials__icon" width="16" height="16">
              <use href="./images/icons/icons.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            href="https://www.facebook.com/"
            class="socials__link"
            target="_blank"
          >
            <svg class="socials__icon" width="16" height="16">
              <use href="./images/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
