<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-wrap">
    <div class="logo-container">
      <picture class="header-logo">
        <!-- Tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/logo/logo-768@1x.png 1x,
            ./images/logo/logo-768@2x.png 2x
          "
          type="image/png"
        />

        <!-- Mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/logo/logo-320@1x.png 1x,
            ./images/logo/logo-320@2x.png 2x
          "
          type="image/png"
        />

        <img
          class="team__member-picture"
          src="./images/logo/logo-320@1x.png"
          alt="logo"
        />
      </picture>
      <button class="menu-btn menu-toggle js-close-menu">
        <svg width="19px" height="19px">
          <use href="./images/icons/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
    </div>

    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a href="#about" class="mobile-menu__link">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#program" class="mobile-menu__link">Program</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#speaker" class="mobile-menu__link">Speaker</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#price" class="mobile-menu__link">Price</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#reviews" class="mobile-menu__link">Reviews</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contact" class="mobile-menu__link">Contact</a>
      </li>
    </ul>
  </div>
</div>
