<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-btn menu-toggle js-close-menu">
    <svg width="19px" height="19px">
      <use href="./images/icons/icons.svg#icon-close-btn"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">About us</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Program</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Speaker</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Price</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Reviews</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Contact</a>
    </li>
  </ul>
</div>
