<div class="container price">
    <h2 class="price__name">Price</h2>
    <div class="price__flex">
        <div class="price__form">
            <h3 class="price__name price__name--mini">Easy start</h3>
            <ul>
                <li class="price__item">features of yeast dough preparation</li>
                <li class="price__item">preparation of liquid caramel for stuffing</li>
                <li class="price__item">preparation of raspberry and strawberry filling</li>
                <li class="price__item">fry and glaze donuts</li>
            </ul>
            <button class="price__button" type="button" id=””>Register</button>
        </div>
        <div class="price__form">
            <h3 class="price__name price__name--mini">I want delicious donuts</h3>
            <ul>
                <li class="price__item">features of yeast dough preparation</li>
                <li class="price__item">preparation of liquid caramel for stuffing</li>
                <li class="price__item">preparation of raspberry and strawberry filling</li>
                <li class="price__item">melt chocolate for decoration</li>
                <li class="price__item">fry and glaze donuts</li>
                <li class="price__item">donut decoration. painting and various techniques</li>
            </ul>
            <button class="price__button" type="button" id=””>Register</button>
        </div>
        <div class="price__form">
            <h3 class="price__name price__name--mini">Premium</h3>
            <ul>
                <li class="price__item">features of yeast dough preparation</li>
                <li class="price__item">preparation of liquid caramel for stuffing</li>
                <li class="price__item">preparation of raspberry and strawberry filling</li>
                <li class="price__item">melt chocolate for decoration</li>
                <li class="price__item">fry and glaze donuts</li>
                <li class="price__item">donut decoration. painting and various techniques</li>
                <li class="price__item">After party and donut tasting with speakers</li>
                <li class="price__item">2 private lessons with one of the speakers</li>
            </ul>
            <button class="price__button" type="button" id=””>Register</button>
        </div>
    </div>
</div>