<div class="contain">
    <form class="price-form"><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            features of yeast dough preparation
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            preparation of liquid caramel for stuffing
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            preparation of raspberry and strawberry filling
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            fry and glaze donuts
        </label>
        <button class="price-form__button">Register</button>
    </form>
    <form><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            features of yeast dough preparation
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            preparation of liquid caramel for stuffing
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            preparation of raspberry and strawberry filling
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            melt chocolate for decoration
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            fry and glaze donuts
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            donut decoration. painting and various techniques
        </label>
        <button class="price-form__button">Register</button>
    </form>
    <form><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            features of yeast dough preparation
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            preparation of liquid caramel for stuffing
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            preparation of raspberry and strawberry filling
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            melt chocolate for decoration
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            fry and glaze donuts
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            donut decoration. painting and various techniques
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            After party and donut tasting with speakers
        </label><label>
            <input type="checkbox" name="hobby" value="sports" checked />
            2 private lessons with one of the speakers
        </label>
        <button class="price-form__button">Register</button>
    </form>
</div>