<section class="program container">
    <div class="program__column">
        <h2 class="program__title">Program</h2>
        <p class="program__text">
            Indulge in this immersive sweet treat experience with The Chef Donut Queen
            in her New York donut shop!
        </p>
        <ul class="program__items list">
            <li class="program__item">A stand up history of donuts</li>
            <li class="program__item">Make 3 donut flavors of your choice</li>
            <li class="program__item">Enjoy all-you-can-eat donuts</li>
            <li class="program__item">Cocktail pairings and coffee included</li>
            <li class="program__item">Photoshoot by professional photographer</li>
            <li class="program__item">Secret receipt of cooking from Eva</li>
            <li class="program__item">All products are included in the price</li>
        </ul>
        <p class="program__text">
            Come with your dear people and friends and you will spend an unforgettable time and will become a real
            professional
            in donuts cooking!
        </p>
    </div>
    <div class="wrap-pic">
        <div class="wrap-pic__column">
            <ul class="wrap-pic__items list">
                <li class="wrap-pic__item">
                    <div class="wrap-pic__inner">
                        <picture>
                            <source>
                            <!-- <img class="wrap-pic__img" src="../images/" alt=""> -->
                        </picture>
                        <div class="wrap-pic__position">
                            <p class="wrap-pic__subtitle">Type of the event</p>
                            <p class="wrap-pic__text">Cooking classes</p>
                        </div>

                    </div>
                </li>
                <li class="wrap-pic__item">
                    <div class="wrap-pic__inner">
                        <picture>
                            <source>
                            <!-- <img class="wrap-pic__img" src="" alt=""> -->
                        </picture>
                        <div class="wrap-pic__position">
                            <p class="wrap-pic__subtitle">Type of the event</p>
                            <p class="wrap-pic__text">18:30 (2.5 hours)</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="wrap-pic__column">
            <ul class="wrap-pic__items list">
                <li class="wrap-pic__item">
                    <div class="wrap-pic__inner">
                        <picture>
                            <source>
                            <!-- <img class="wrap-pic__img" src="" alt=""> -->
                        </picture>
                        <div class="wrap-pic__position">
                            <p class="wrap-pic__subtitle">Number of guests</p>
                            <p class="wrap-pic__text">1 to 20</p>
                        </div>
                    </div>
                </li>
                <li class="wrap-pic__item">
                    <div class="wrap-pic__inner">
                        <picture>
                            <source>
                            <!-- <img class="wrap-pic__img" src="" alt=""> -->
                        </picture>
                        <div class="wrap-pic__position">
                            <p class="wrap-pic__subtitle">The host speaks</p>
                            <p class="wrap-pic__text">English, French</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>