<section class="registration container">
    <h2 class="registration__title">Registration</h2>
    <div class="registration__container">
        <p class="registration__info">May 23, 11:00 New York</p>
        <div class="registration__decor"></div>
        <form class="form" autocomplete="off">
            <div class="form__con-tab-flex">
                <p class="form__title">Apply your personal info for registration</p>
                <div class="form__container">
                    <label for="your-name" class="form__label">Your name</label>
                    <input type="text" name="name" id="your-name" class="form__input" placeholder="Your name">

                    <label for="phone-number" class="form__label">Phone number</label>
                    <input type="tel" name="phone number" id="phone-number" class="form__input"
                        placeholder="Phone number">

                    <label for="email" class="form__label">Email</label>
                    <input type="email" name="email" id="email" class="form__input" placeholder="Email" required>
                </div>
            </div>
            <button type="submit" class="form__button">Register</button>
        </form>
    </div>
</section>