<div class="container reviews">
    <h2 class="reviews__name">Reviews</h2>
    <div class="reviews__pearson reviews__pearson--john">
        <picture class="speaker__picture">
            <source media="(min-width: 1280px)" type="image/png"
                srcset="./images/reviews/reviews-1-1280@1x.png 1x, ./images/reviews/reviews-1-1280@2x.png 2x">
            <source media="(min-width: 768px)" type="image/png"
                srcset="./images/reviews/reviews-1-768@1x.png 1x, ./images/reviews/reviews-1-768@2x.png 2x">
            <img srcset="./images/reviews/reviews-1-1280@1x.png 1x, ./images/reviews/reviews-1-1280@2x.png 2x"
                src="./images/reviews/reviews-1-1280@1x.png" alt="Photo John">
        </picture>
        <svg class="reviews__icon" width="136" height="18">
            <use href="./images/icons/icons.svg#icon-rate-empty"></use>
        </svg>
        <p class="reviews__title">John</p>
    </div>
    <div class="reviews__pearson reviews__pearson--elisabeth">
        <picture class="speaker__picture">
            <source media="(min-width: 1280px)" type="image/png"
                srcset="./images/reviews/reviews-3-1280@1x.png 1x, ./images/reviews/reviews-3-1280@2x.png 2x">
            <source media="(min-width: 768px)" type="image/png"
                srcset="./images/reviews/reviews-3-768@1x.png 1x, ./images/reviews/reviews-3-768@2x.png 2x">
            <img srcset="./images/reviews/reviews-3-1280@1x.png 1x, ./images/reviews/reviews-3-1280@2x.png 2x"
                src="./images/reviews/reviews-3-1280@1x.png" alt="Photo Elisabeth">
        </picture>
        <svg class="reviews__icon" width="136" height="18">
            <use href="./images/icons/icons.svg#icon-rate-filled"></use>
        </svg>
        <p class="reviews__title">Elisabeth</p>
    </div>
    <div class="reviews__pearson reviews__pearson--will">
        <picture class="speaker__picture">
            <source media="(min-width: 1280px)" type="image/png"
                srcset="./images/reviews/reviews-2-1280@1x.png 1x, ./images/reviews/reviews-2-1280@2x.png 2x">
            <source media="(min-width: 768px)" type="image/png"
                srcset="./images/reviews/reviews-2-768@1x.png 1x, ./images/reviews/reviews-2-768@2x.png 2x">
            <source media="(min-width: 480px)" type="image/png"
                srcset="./images/reviews/reviews-2-320@1x.png 1x, ./images/reviews/reviews-2-320@2x.png 2x">
            <img srcset="./images/reviews/reviews-2-1280@1x.png 1x, ./images/reviews/reviews-2-1280@2x.png 2x"
                src="./images/reviews/reviews-2-1280@1x.png" alt="Photo Will">
        </picture>
        <svg class="reviews__icon" width="136" height="18">
            <use href="./images/icons/icons.svg#icon-rate-filled"></use>
        </svg>
        <p class="reviews__title">Will</p>
        <div class="reviews__text">
            <article class="reviews__coment">
                <p>Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your
                    first time in the kitchen!
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                    everyone!</p>
            </article>
            <p class="reviews__pagination">2/15</p>
        </div>
    </div>

</div>