<div class="container speaker">
    <h2>Speakers</h2>
    <ul>
        <li>
            <picture>
                <source media="(min-width: 1200px)" type="image/png" srcset="./images/speakers/speakers-1-1280@1x.png">
                <source media="(min-width: 768px)" type="image/png" srcset="./images/speakers/speakers-1-768@1x.png">
                <source media="(min-width: 480px)" type="image/png" srcset="./images/speakers/speakers-1-320@1x.png">
                <img src="./images/speakers/speakers-1-1280@1x.png" alt="Photo Molly">
            </picture>
            <h3 class="speaker__name">Molly Rivera</h3>
            <p class="speaker__text">Pastry chef, master chocolatier of Spain</p>
        </li>
        <li>
            <picture>
                <source media="(min-width: 1200px)" type="image/png" srcset="./images/speakers/speakers-2-1280@1x.png">
                <source media="(min-width: 768px)" type="image/png" srcset="./images/speakers/speakers-2-768@1x.png">
                <source media="(min-width: 480px)" type="image/png" srcset="./images/speakers/speakers-2-320@1x.png">
                <img src="./images/speakers/speakers-2-1280@1x.png" alt="Photo Molly">
            </picture>
            <h3 class="speaker__name">Sophia Clark</h3>
            <p class="speaker__text">Сulinary school pastry chef</p>
        </li>
        <li>
            <picture>
                <source media="(min-width: 1200px)" type="image/png" srcset="./images/speakers/speakers-3-1280@1x.png">
                <source media="(min-width: 768px)" type="image/png" srcset="./images/speakers/speakers-3-768@1x.png">
                <source media="(min-width: 480px)" type="image/png" srcset="./images/speakers/speakers-3-320@1x.png">
                <img src="./images/speakers/speakers-3-1280@1x.png" alt="Photo Molly">
            </picture>
            <h3 class="speaker__name">Isabella Taylor</h3>
            <p class="speaker__text">Сonsultant in the art of confectionery</p>
        </li>
        <li>
            <picture>
                <source media="(min-width: 1200px)" type="image/png" srcset="./images/speakers/speakers-4-1280@1x.png">
                <source media="(min-width: 768px)" type="image/png" srcset="./images/speakers/speakers-4-768@1x.png">
                <source media="(min-width: 480px)" type="image/png" srcset="./images/speakers/speakers-4-320@1x.png">
                <img src="./images/speakers/speakers-4-1280@1x.png" alt="Photo Molly">
            </picture>
            <h3 class="speaker__name">Evelyn Miller</h3>
            <p class="speaker__text">Master- chocolatier in Spain</p>
        </li>
    </ul>
</div>